.intro {
    padding-bottom: 859px;
    &__text {
        padding-bottom: 32px;
    }
    &__title {
        padding-bottom: 32px;
    }
    &__btn {
        cursor: pointer;
        color: #ffffff;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background-image: url('../img/arrow-down.svg');
        background-repeat: no-repeat;
        background-position: right center;
        background-color: transparent;
        border: none;
        padding-right: 32px;
    }
}



@media (max-width: 991px) {  
    .intro {
        padding-bottom: 259px;
       }
}